asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.5
Django==6.0.2
idna==3.11
pillow==12.1.1
psycopg==3.3.3
psycopg2-binary==2.9.11
python-decouple==3.8
pytz==2026.1.post1
requests==2.32.5
simplejson==3.20.2
sqlparse==0.5.5
urllib3==2.6.3
django-seed==0.4.0